extends ../layout

block content
  .container
    form(method='post',name='updateflower',enctype='application/x-www-form-urlencoded')

      .form-group
        label Название
        input.form-control(type='text', value='#{flower.name}', name='name')

      .form-group
        label Цена
        input.form-control(type='number', value='#{flower.price}', name='price')

      .form-group
        label Описание
        input.form-control(type='text', value='#{flower.description}', name='description')

      .actions
        button.btn.btn-primary(type="submit") Сохранить
