extends ../layout

block content
  .container
    h1 Цветы

    .table-responsive
      table.table
        thead
          tr
            th Название
            th Управление
            th &nbsp;
        tbody
          for flower in flowers
            tr
              td
                a(href='flowers/#{flower.id}')
                  = flower.name
              td
                a(href='flowers/#{flower.id}/edit')
                  button.btn.btn-warning Изменить
              td
                form(action='/admin/flowers/#{flower.id}', method='post', enctype='application/x-www-form-urlencoded')
                  input(type='hidden',value='DELETE',name='_method')
                  button.btn.btn-danger(type='submit') Удалить
