extends ../layout

block content
  .container
    h1 Цветы: #{flower.name}

    .form-group
      a(href='#{flower._id}/edit')
        button.btn.btn-default Изменить

    .form-group
      strong Название: 
      = flower.name

    .form-group
      strong Цена: 
      = flower.price

    .form-group
      strong Описание: 
      = flower.description

    .form-group
      strong Изображение:
      p
        img(src= '/uploads/#{flower.image}')
