extends ../layout

block content
  section.content
    h1 Цветы: #{flower.name}
    .box-body
      .form-group
        a(href='#{flower.id}/edit')
          button.btn.btn-default Изменить

      .form-group
        strong Название: 
        = flower.name
