extends layout
block content
	// Content Header (Page header)
	section.content-header
		h1
			| Доска
		ol.breadcrumb
			li
				a(href='#')
					i.fa.fa-dashboard
					| Home
			li.active Доска
	section.content
		.row
			.col-lg-3.col-xs-6
				.small-box.bg-yellow
					.inner
						h3= flowers.length
						p
							| Букеты
					.icon
						i.ion.ion-ios-rose
					a.small-box-footer(href='/admin/flowers')
						| Подробнее
						i.fa.fa-arrow-circle-right
			.col-lg-3.col-xs-6
				.small-box.bg-aqua
					.inner
						h3
							| 24
						p
							| Заказы
					.icon
						i.ion.ion-bag
					a.small-box-footer(href='/admin/orders')
						| Подробнее
						i.fa.fa-arrow-circle-right
			.col-lg-3.col-xs-6
				.small-box.bg-red
					.inner
						h3
							| 15
						p
							| Пользователи
					.icon
						i.ion.ion-person
					a.small-box-footer(href='/admin/users')
						| Подробнее
						i.fa.fa-arrow-circle-right

include layout/script
