doctype html
html
	include layout/header
	body.skin-blue
		// header logo: style can be found in header.less
		header.header
			a.logo(href='/admin/dashboard')
				// Add the class icon to your logo image or logo icon to add the margining
				| Flowerics
			// Header Navbar: style can be found in header.less
			nav.navbar.navbar-static-top(role='navigation')
				a.navbar-btn.sidebar-toggle(href='#', data-toggle='offcanvas', role='button')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li(style='padding-right:15px;')
							a(href='/admin/logout') Выйти
		.wrapper.row-offcanvas.row-offcanvas-left
			// Left side column. contains the logo and sidebar
			aside.left-side.sidebar-offcanvas
				// sidebar: style can be found in sidebar.less
				section.sidebar
					// search form
					form.sidebar-form(action='#', method='get')
						.input-group
							input.form-control(type='text', name='q', placeholder='Search...')
							span.input-group-btn
								button#search-btn.btn.btn-flat(type='submit', name='seach')
									i.fa.fa-search
					ul.sidebar-menu
						li.active
							a(href='/admin/dashboard')
								i.fa.fa-dashboard
								span Доска
						li.treeview
							a(href='#')
								i.ion.ion-ios-rose
								span Цветы
								i.fa.fa-angle-left.pull-right
							ul.treeview-menu
								li
									a(href='/admin/bouquets')
										i.fa.fa-angle-right
										| Список
								li
									a(href='/admin/bouquets/new')
										i.fa.fa-angle-right
										| Добавить
						li
							a(href='/admin/users')
								i.ion.ion-person
								span Пользователи
						li
							a(href='/admin/orders')
								i.ion.ion-bag
								span Заказы
						li
							a(href='/admin/orders')
								i.ion.ion-ios-cart
								span Скидки
			aside.right-side
				block content
		block message-modal
		include layout/script
