doctype html
html
  head
    meta(charset='UTF-8')
    title Flowerics | Dashboard
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    link(href='/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/font-awesome/css/font-awesome.css', rel='stylesheet')
    link(href='/css/animate.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    link(href='/css/ionicons.css', rel='stylesheet')
    link(href='/css/plugins/chosen/chosen.css', rel='stylesheet')

  nav(role='navigation').navbar-default.navbar-static-side
    .sidebar-collapse
      ul#side-menu.nav.metismenu
        li.nav-header
          div.logo-element Fl
          li
            a(href='/admin/dashboard')
              i.fa.fa-th-large
              span.nav-label Dashboard
          li
            a(href='#')
              i.ion.ion-ios-rose
              span.nav-label Букеты
              span.fa.arrow
            ul.nav.nav-second-level.collapse
              li
                a(href='/admin/bouquets') Каталог
              li
                a(href='/admin/bouquets/new') Создать новый
          li
            a(href='#')
              i.ion.ion-ios-flower
              span.nav-label Цветы
              span.fa.arrow
            ul.nav.nav-second-level.collapse
              li
                a(href='/admin/flowers') Список
              li
                a(href='/admin/flowers/new') Добавить
          li
            a(href='#')
              i.ion.ion-happy-outline
              span.nav-label Настроения
              span.fa.arrow
            ul.nav.nav-second-level.collapse
              li
                a(href='/admin/moods') Список
              li
                a(href='/admin/moods/new') Добавить
          li
            a(href='/admin/users')
              i.ion.ion-person
              span.nav-label Пользователи
          li
            a(href='#')
              i.ion.ion-pricetag
              span.nav-label Акции
              span.fa.arrow
            ul.nav.nav-second-level.collapse
              li
                a(href='/admin/promotions') Список
              li
                a(href='/admin/promotions/new') Добавить
  #page-wrapper.gray-bg
    .row.border-bottom
      nav.navbar.navbar-static-top.white-bg(role='navigation', style='margin-bottom: 0')
        .navbar-header
          a.navbar-minimalize.minimalize-styl-2.btn.btn-primary(href='#')
            i.fa.fa-bars

        ul.nav.navbar-top-links.navbar-right
          li
            a(href='/admin/logout')
              i.fa.fa-sign-out
              | Выйти
    block content
    include layout/script
