extends ../layout

block content
  section.content
    .box-body
      form(action='/admin/moods/#{mood.id}/edit', method='post', enctype='application/x-www-form-urlencoded')

        .form-group
          label Название
          input.form-control(type='text', value='#{mood.name}', name='name')

        input(type='hidden',value='PUT',name='_method')

        .actions
          button.btn.btn-primary(type="submit") Сохранить
