extends ../layout

block content
  .container
    h1 Настроения

    .table-responsive
      table.table
        thead
          tr
            th Название
            th Управление
            th &nbsp;
        tbody
          for mood in moods
            tr
              td
                a(href='moods/#{mood._id}')
                  = mood.name
              td
                a(href='moods/#{mood._id}/edit')
                  button.btn.btn-warning Изменить
              td
                form(action='/admin/moods/#{mood._id}', method='post', enctype='application/x-www-form-urlencoded')
                  input(type='hidden',value='DELETE',name='_method')
                  button.btn.btn-danger(type='submit') Удалить
