extends ../layout

block content
  section.content
    h1 Добавление настроений
    .box-body
      form(method='post', action='/admin/moods')

        .form-group
          label Название
          input.form-control(type='text', placeholder='Название', name='name')

        .actions
          button.btn.btn-primary(type='submit') Добавить
