extends ../layout

block content
  section.content
    h1 Настроение: #{mood.name}
    .box-body
      .form-group
        a(href='#{mood.id}/edit')
          button.btn.btn-default Изменить

      .form-group
        strong Название: 
        = mood.name
