doctype html
html
  head
    meta(charset='UTF-8')
    title Flowerics | Login
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    link(href='/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/font-awesome/css/font-awesome.css', rel='stylesheet')
    link(href='/css/animate.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')

  body.gray-bg
    .text-center.loginscreen.animated.fadeInDown
      div
        div
          h1.logo-name.text-center Flowerics
        h3 Welcome to Flowerics
        .middle-box
          if message.length > 0
            .col-md-12
              .box-danger
                  .alert.alert-danger.alert-dismissable
                    = message
          form(method='post', action='/admin/login').m-t
            .form-group
              input.form-control(type='text', placeholder='Логин', name='login', required='')
            .form-group
              input.form-control(type='password', placeholder='Пароль', name='password', required='')
            button(type='submit').btn.btn-primary.block.full-width.m-b Войти
    

  script(src='/js/jquery-2.1.1.js')
  script(src='/js/bootstrap.min.js', type='text/javascript')
