extends ../layout

block content
  section.content
    h1 Создание нового букета
    .box-body
      form(method='post', action='/admin/bouquets', enctype='multipart/form-data')

        .form-group
          label Название
          input.form-control(type='text', placeholder='Название', name='name')

        .form-group
          label Цена
          .input-group
            span.input-group-addon ₽
            input.form-control(type='number', name='price', min='0')
            span.input-group-addon .00

        .form-group
          label Описание для каталога
          input.form-control(type='text', placeholder='Описание', name='description')

        .form-group
          label Описание для флориста
          input.form-control(type='text', placeholder='Описание', name='prescription')

        .form-group
          label Цвет
          input.form-control(type='text', placeholder='Цвет', name='color')

        .form-group
          label.font-noraml Cостав
          .input-group
            select(data-placeholder='Выберите цветы' multiple style='width:500px;' tabindex='4' name='flowers').chosen-select
              each flower in results.flowers
                option= flower.name

        .form-group
          label.font-noraml Настроения
          .input-group
            select(data-placeholder='Выберите настроения' multiple style='width:500px;' tabindex='4' name='moods').chosen-select
              each mood in results.moods
                option= mood.name

        .form-group
          label Фотография
          input(type='file', name='image')

        .form-group
          label Иконка цвета
          input(type='file', name='icon')

        .actions
          button.btn.btn-primary(type='submit') Добавить
