extends ../layout

block content
  .container
    h1 Букет: #{bouquet.name}
    .box-body
      .form-group
        a(href='#{bouquet._id}/edit')
          button.btn.btn-default Изменить

      .form-group
        strong Название: 
        = bouquet.name

      .form-group
        strong Цена: 
        = bouquet.price

      .form-group
        strong Описание: 
        = bouquet.description

      .form-group
        strong Описание для флориста: 
        = bouquet.prescription

      .form-group
        strong Цвет: 
        = bouquet.color

      .form-group
        strong Настроения: 
        for mood in bouquet.moods
          = mood.name

      .form-group
        strong Цветы: 
        for flower in bouquet.flowers
          = flower.name

      .form-group
        strong Иконка цвета:
        p
          img(src='/uploads/#{bouquet.icon}')

      .form-group
        strong Изображения:
        for image in bouquet.images
          p
            img(src= "/uploads/#{image}" class="image-thumb")
