extends ../layout

block content
  section.content
    .box-body
      form(action='/admin/promotions/#{promotion.id}/edit', method='post', enctype='multipart/form-data')

        .form-group
          label Название
          input.form-control(type='text', value='#{promotion.name}', name='name')

        .form-group
          label Описание
          input.form-control(type='text', value='#{promotion.description}', name='description')

        .form-group
          label Изображение
          input(type='file', value='#{promotion.image}', name='image')

        input(type='hidden',value='PUT',name='_method')

        .actions
          button.btn.btn-primary(type="submit") Сохранить
