doctype html
html
  head
    meta(charset='UTF-8')
    title Flowerics | 404 Error
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    link(href='/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/font-awesome/css/font-awesome.css', rel='stylesheet')
    link(href='/css/animate.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')

  body.gray-bg
    .middle-box.text-center.animated.fadeInDown
      h1
        | 404
      h3.font-bold
        | Page Not Found
      .error-desc
        | Sorry, but the page you are looking for has note been found. Try checking the URL for error, then hit the refresh button on your browser or try found something else in our app.
        form(role='form').form-inline.m-t
          .form-group
            input(type='text', placeholder='Search for page').form-control
          button(type='submit').btn.btn-primary Search

  script(src='/js/jquery-2.1.1.js')
  script(src='/js/bootstrap.min.js', type='text/javascript')
