doctype html
html
  head
    meta(charset='UTF-8')
    title Flowerics | 500 Error
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    link(href='/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/font-awesome/css/font-awesome.css', rel='stylesheet')
    link(href='/css/animate.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')

  body.gray-bg
    .middle-box.text-center.animated.fadeInDown
      h1
        | 500
      h3.font-bold
        | Internal Server Error
      .error-desc
        | The server encountered something unexpected that didn't allow it to complete the request. We apologize.
        br
        | You can go back to main page:
        br
        a(href='/admin/dashboard').btn.btn-primary.m-t Dashboard

  script(src='/js/jquery-2.1.1.js')
  script(src='/js/bootstrap.min.js', type='text/javascript')
